p{
    .macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 5px;
}

}
button{
    padding: 20px;
    margin: 50px;
}
img{
    width: 100px;
}
#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#hidden{
    display: none;
}